# IDE
.idea/
.vs/
.vscode/
CMakeSettings.json


# Build
.cache/
build/
dist/
cmake-build-*/
out/
*.dll
*.ilk
*.pdb
*.pyd
*.so*


# Flatpak
.flatpak-builder/
builddir/
repo/


# Generated
**/generated/
src/common/Config.h
